<div ng-include="'components/navbar/navbar.html'"></div>
<div class="video" id="container">
  <h1>Hello Visual World <code>getUserMedia()</code></h1>
  <span>getUserMedia: select resolution</span>
  	<p>Click a button to call <code>getUserMedia()</code> with appropriate resolution.</p>
    <div class='select'>
      <label for='audioSource'>Audio source: </label><select id='audioSource'></select>
    </div>
    <div class='select'>
      <label for='videoSource'>Video source: </label><select id='videoSource'></select>
    </div>
   
	  <div id="buttons">
	    <button id="qvga">QVGA</button>
	    <button id="vga">VGA</button>
	    <button id="hd">HD</button>
	  </div>
	
	<p id="dimensions"></p>

 <video muted autoplay></video>

  	<p>Display the video stream from <code>getUserMedia()</code> in the video element.</p>
</div>
<div id="container">
  <h1>Hello Canvas annd CSS Filter<code>getUserMedia() => Canvas and apply CSS filter</code></h1>
   <button id="snapshot">Take snapshot</button>
  <button id="filter">Apply a filter</button>
  <canvas></canvas>
  <p>Draw a frame from the video onto the canvas element using the <code>drawImage()</code> method.then apply CSS filters.</p>
</div>
<div id="container">
<p>Local Audio loop back testing</p>
 <audio id="audio" autoplay="autoplay" controls="controls"></audio><br><br>
  <button id="start" ng-click="audioStart()">Start</button>
  <button id="stop" ng-click="audioStop()">Stop</button>
  <h2>Measuring the volume of an audio stream using WebAudio</h2>
  <p>Demonstrates measuring the volume of a local media stream
     using WebAudio.<br>
     Press Start, select a microphone, listen to your own voice in loopback,
     and see the numbers change as you speak.</p>
     The "instant" volume changes approximately every 50 ms; the "slow"
     volume approximates the average volume over about a second.
  <br>
     Note that you will NOT hear your own voice; use the for that.
  <p>
  Volume (instant): <span id="volume">Not set</span><br>
  Volume (slow): <span id="decaying_volume">Not set</span><br>
  <canvas id="graphic_volume" width="400" height="20"></canvas> Volume<br>
  <canvas id="graphic_slow" width="400" height="20"></canvas> Slow<br>
  <canvas id="graphic_clip" width="400" height="20"></canvas> Clipping
</div>
{{onload()}}
<footer class="footer">
  <div class="container">
      <p>nodeApp Playground |
        <a href="https://twitter.com/merumman">@merumman</a> |
         <a href="https://github.com/knofler/nodePlay/issues">Issues</a></p>
  </div>
</footer>


